{% extends 'base.html.twig' %}
{% block body %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <br>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

        <h1 class="h2">Pridėti išlaidos tipą</h1>
        <br>
    </div>
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{ form_start(form) }}
    Pavadinimas {{ form_widget(form.tipas) }}
    <br>

        <button type="submit" class="btn btn-primary btn-raised"> Pridėti išlaidos tipą </button>
    {{ form_end(form) }}

{% endblock %}